<style>
    section {
        justify-content: center;
        position:absolute;
        top:-50px;
        flex-direction: column;
        padding: 10px 45px;
        background: black;
        width: 500px;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }

    .form8 {

        position: absolute;
        left: 68vh;
        top: 20vh;
        height:auto;

    }


    section h2 {
        color: #f5f5f5;
        font-size: 2.5rem;
        margin: 2rem;
    }

    section form {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    form label {
        color: #f5f5f5;
        font-size: 17px;
        margin-bottom: 4px;
    }

    form input {
        padding: 15px;
        outline: none;
        border: 0;
        margin-bottom: 20px;
        font-size: 15px;
        transition: all 0.5s;
    }

        form input:focus {
            border-radius: 10px;
        }

    form textarea {
        padding:-10%;
        outline: none;
        height:120px;
        border: 0;
        font-size: 15px;
        margin-bottom: 30px;
        transition: all 0.5s;
    }

        form textarea:focus {
            border-radius: 16px;
        }

    form button {
        padding: 15px;
        cursor: pointer;
        font-size: 16px;
        background: transparent;
        border: 2px solid #f5f5f5;
        color: #f5f5f5;
        transition: all 0.5s;
        margin-bottom: 20px;
    }

        form button:hover {
            background-color: red;
            border-radius: 16px;
        }

  
</style>

<div class="form8">
    <section>
         <h2>Contato</h2>

        <form action="https://api.staticforms.xyz/submit" method="post">

            <label>Nome</label>
            <input type="text" name="name" placeholder="Digite seu nome" autocomplete="off" required>
            <label>Email</label>
            <input type="email" name="email" placeholder="Digite seu e-mail" autocomplete="off" required>
            <label>Mensagem</label>
            <textarea name="message" cols="30" rows="10" placeholder="Digite sua mensagem" required></textarea>
            <button type="submit">Enviar</button>

            <input type="hidden" name="accessKey" value="568131cd-d387-43c9-87b1-75315818453a">
            <input type="hidden" name="redirectTo" value="https://localhost:7074/Obrigado/Obrigado">
        </form>
    </section>
</div>