<style>
    h1 {
        line-height: 100px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
</style>

<div class="Restaurante">

        <h1 id="GaleriaPães">Galeria dos Pães</h1>
        <img class="Galepães" src="~/Image/Galeria dos Pães.jpg">
        <h1 id="PizzaMooca">Pizza da Mooca</h1>
        <img class="PizMooca" src="~/Image/pizzadamooca(1) (1).jpg">
        <h1 id="TerçItalia">Terraço Itália</h1>
        <img class="TerraçoItalia" src="~/Image/Terraçpo Italia (1).jpg">
        <h1 id="Coco Bambu">Coco Bambu</h1>
        <img class="Cobambu" src="~/Image/Coco Bambu (1).jpg">
        <h1 id="BelPaulista">Bella Paulista</h1>
        <img class="BellaPaulista" src="~/Image/Bella Paulista.jpg">
        <h1 id="Paris">Bistrô Paris 6 Classique</h1>
        <img class="Paris6" src="~/Image/Paris-6.jpg">
        <h1 id="Wec">We Coffe</h1>
        <img class="We Coffe" src="~/Image/We Coffe.jpg">
        <h1 id="BarbChus">Churrascaria Barbacoa</h1>
        <img class="ChurrasBarbacoa" src="~/Image/Churrascaria Barbacoa.jpg">
        <h1 id="braz">Braz</h1>
        <img class="Braz" src="~/Image/braz (1).jpg">
</div>

