<style>
    h1 {
        line-height: 100px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    div.res {
        display: inline-block;
        padding: 100px;
    }
</style>


<div class="Restaurante">
    <div class="res">
        <h1 id="GaleriaPães">Galeria dos Pães</h1>
    <a class="Galepães" href="~/PontoTuristicoes/Details/20"><img src="~/Image/20_.jpg" alt="Galeria dos Pães"></a>
      </div>
    <div class="res">
        <h1 id="PizzaMooca">Pizza da Mooca</h1>
        <a class="PizMooca" href="~/PontoTuristicoes/Details/23"><img src="~/Image/23_.jpg" alt="Pizza da Mooca"></a>
    </div>
    <div class="res">
        <h1 id="TerçItalia">Terraço Itália</h1>
    <a class="TerraçoItalia" href="~/PontoTuristicoes/Details/3"><img src="~/Image/3_.jpg" alt="Terraço Itália"></a>
    </div>
    <div class="res">
        <h1 id="Coco Bambu">Coco Bambu</h1>
    <a class="Cobambu" href="~/PontoTuristicoes/Details/22"><img src="~/Image/22_.jpg" alt="Coco Bambu"></a>
    </div>
    <div class="res">
        <h1 id="BelPaulista">Bella Paulista</h1>
    <a class="BellaPaulista" href="~/PontoTuristicoes/Details/21"><img src="~/Image/21_.jpg" alt="Bella Paulista"></a>
</div>
    <div class="res">
        <h1 id="Paris">Bistrô Paris 6 Classique</h1>
       <a class="Paris6" href="~/PontoTuristicoes/Details/16"><img src="~/Image/16_.jpg" alt="Bistrô Paris 6 Classique"></a>
    </div>
    <div class="res">
       <h1 id="Wec">We Coffe</h1>
    <a class="We Coffe" href="~/PontoTuristicoes/Details/17"><img src="~/Image/17_.jpg" alt="We Coffe"></a>
</div>
    <div class="res">
        <h1 id="BarbChus">Churrascaria Barbacoa</h1>
    <a class="ChurrasBarbacoa" href="~/PontoTuristicoes/Details/19"><img src="~/Image/19_.jpg" alt="Churrascaria Barbacoa"></a>
    </div>
    <div class="res">
    <h1 id="braz">Braz</h1>
    <a class="Braz" href="~/PontoTuristicoes/Details/24"><img src="~/Image/24_.jpg" alt="Braz"></a>
</div>
</div>
