<style>
    h1{
        line-height:100px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    div.faz {
        display: inline-block;
        padding: 100px;
    }
</style>




<div class="Bares">
        
        <div class="faz">
           <h1 id="Brahma">Bar Brahma</h1>
    <a class="BarBrahma" href="~/PontoTuristicoes/Details/6"><img src="~/Image/6_.jpg" alt="Bar Brahma"></a>
    </div>
    
    <div class="faz">
        <h1 id="tokyo">Tokyo</h1>
    <a class="Tokyo" href="~/PontoTuristicoes/Details/12"><img src="~/Image/12_.jpg" alt="Tokyo"></a>
    </div>

    <div class="faz">
        <h1 id="hoegaarden">Hoegardeen</h1>
    <a class="Hoegardeen" href="~/PontoTuristicoes/Details/7"><img src="~/Image/7_.png" alt="Hoegardeen"></a>
    </div>

        <div class="faz">
        <h1 id="EAP">EAP Alto de Pinheiros</h1>
    <a class="EAPPinheiros" href="~/PontoTuristicoes/Details/8"><img src="~/Image/8_.png" alt="EAP Alto de Pinheiros"></a>
    </div>

</div>