<style>
    h1{
        line-height:100px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
</style>




<div class="Bares">

           <h1 id="Brahma">Bar Brahma</h1>
        <img class="BarBrahma" src="~/Image/Bar Brahma.jpg">
        <h1 id="tokyo">Tokyo</h1>
        <img class="Tokyo" src="~/Image/Tokyo.jpg">
        <h1 id="hoegaarden">Hoegardeen</h1>
        <img class="Hoegardeen" src="~/Image/Hoegardeen.png">
        <h1 id="EAP">EAP Alto de Pinheiros</h1>
        <img class="EAPPinheiros" src="~/Image/EAP Alto de Pinheiros.png">

</div>