<style>
    h1 {
        line-height: 100px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
</style>




<div class="Baladas">

        <h1 id="avenue">Avenue</h1>
        <img class="Avenue" src="~/Image/Avenue.jpg">
        <h1 id="selva">Selva</h1>
        <img class="Selva" src="~/Image/Selva (1).jpg">
        <h1 id="d-egde">D-Egde</h1>
        <img class="D-Egde" src="~/Image/D-Egde (1).jpg">
        <h1 id="vilajk">Vila JK</h1>
        <img class="Vila JK" src="~/Image/Vila JK (1).jpg">
 
</div>