<style>
    h1 {
        line-height: 100px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    div.rest{
        display: inline-block;
        padding: 100px;
    } 

</style>




<div class="Baladas">

    <div class="rest">
        <h1 id="avenue">Avenue</h1>
    <a class="Avenue" href="~/PontoTuristicoes/Details/5"><img src="~/Image/5_.jpg" alt="Avenue"></a>
    </div>

    <div class="rest">
        <h1 id="selva">Selva</h1>
    <a class="Selva" href="~/PontoTuristicoes/Details/10"><img src="~/Image/10_.jpg" alt="Selva"></a>
    </div>

        <div class="rest">
        <h1 id="d-egde">D-Egde</h1>
    <a class="D-Egde" href="~/PontoTuristicoes/Details/9"><img src="~/Image/9_.jpg" alt="D-Egde"></a>
    </div>

            <div class="rest">
        <h1 id="vilajk">Vila JK</h1>
    <a class="Vila JK" href="~/PontoTuristicoes/Details/23"><img src="~/Image/11_.jpg" alt="Vila JK"></a>
    </div>

</div>