
<style>
    h1 {
        line-height: 100px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    div.show{
        display: inline-block;
        padding: 100px;
    }

</style>
<div class="casadeshow">
        

    <div class="show">
        <h1 id="CsNat">Casa Natura</h1>
    <a class="Casa Natura" href="~/PontoTuristicoes/Details/15"><img src="~/Image/15_.jpg" alt="Casa Natura"></a>
      </div>

    <div class="show">
        <h1 id="CentroTN">CTN</h1>
        <a class="CTN" href="~/PontoTuristicoes/Details/13"><img src="~/Image/13_.jpg" alt="Centro de Tradições Nordestinas"></a>
    </div>

    <div class="show">
        <h1 id="Unimed">Espaço Unimed</h1>
        <a class="Espaço Unimed" href="~/PontoTuristicoes/Details/14"><img src="~/Image/14_.jpg" alt="Espaço Unimed"></a>
    </div>

    <div class="show">
        <h1 id="VilaC">Villa Country</h1>
        <a class="VillaCountry" href="~/PontoTuristicoes/Details/4"><img src="~/Image/4_.jpg" alt="Villa Country"></a>
    </div>
   
   
    </div>