
<style>
    h1 {
        line-height: 100px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
</style>
<div class="casadeshow">
        
        <h1 id="CentroTN">Centro de Tradições Nordestinas</h1>
        <img class="CTN" src="~/Image/Vila Country.jpg">
        <h1 id="Unimed">Espaço Unimed</h1>
        <img class="Espaço Unimed" src="~/Image/Espaço Unimed.jpg">
        <h1 id=""></h1>
        <img class="" src="">
        <h1 id="CsNat">Casa Natura</h1>
        <img class="Casa Natura" src="~/Image/Casa Natural (1).jpg">
        <h1 id="VilaC">Villa Country</h1>
        <img class="VillaCountry" src="~/Image/Vila Country.jpg">

    </div>