<style>


    h1 {
        text-align: center;
        font-size: 32px;
        font-family: Arial, Helvetica, sans-serif;
    }

    h2 {
        margin-top: 40px;
        color: red;
        text-align: center;
        font-size: 30px;
    }




    p {
        margin-bottom: 20px;
        font-size: 24px;
        font-family: Arial, Helvetica, sans-serif
    }

    .missão, .visão, .valores {
        margin-bottom: 40px;
        text-align: left;
        width: 50%;
        margin-left: 400px;
        font-size: 24px;
        font-family: Arial, Helvetica, sans-serif
    }

    .lista {
        margin-bottom: 40px;
        text-align: justify;
        width: 50%;
        margin-left: 400px;
    }

    .missão p, .visão p, .valores p {
        color: black;
    }

    .missão {
        padding: 30px;
    }

    .sobre {
        color: black;
        text-align: left;
        width: 50%;
        margin-left: 400px;
    }



    .conter-itens {
        width: 100%;
        height: 6.5vmax;
        text-align: center;
    }

</style>

<div class="missão">

    <h2>Missão</h2>

    <p>
        Promover a cidade de São Paulo como um destino turístico atraente e memorável, fornecendo informações
        precisas e atualizadas sobre os pontos turísticos da cidade e incentivando a exploração cultural dos
        visitantes.
    </p>

</div>




<div class="visão">

    <h2>Visão</h2>

    <p>
        Nosso objetivo é tornar São Paulo um dos principais destinos turísticos do Brasil e do mundo, proporcionando
        uma experiência enriquecedora e inesquecível a todos os visitantes, e contribuindo para o crescimento
        econômico e cultural da cidade.
    </p>

</div>




<div class="valores">

    <h2>Valores</h2>

    <ul>

        <li>
            <strong>Compromisso com a precisão e confiabilidade:</strong> As informações fornecidas sobre as atrações
            turísticas da cidade são precisas e confiáveis.
        </li>

        <li>
            <strong>Respeito à diversidade cultural e étnica:</strong> Valorizamos a diversidade cultural e étnica da
            cidade de São Paulo.
        </li>

        <li>
            <strong>Incentivo à conservação e preservação:</strong> Incentivamos a conservação e preservação do
            patrimônio natural e cultural da cidade.
        </li>

        <li>
            <strong>Fornecimento de informações acessíveis e úteis:</strong> Fornecemos informações acessíveis e úteis
            para todos os tipos de visitantes, independentemente de sua origem ou interesses.
        </li>

    </ul>

</div>