<style>
    h1 {
        line-height: 100px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
</style>
<div class="Imagens">

    
        <h1 id="ParqueVL">Parque Villa-Lobos</h1>
        <img class="Parque Villa Lobos" src="~/Image/parque-villa-lobos (1).jpg">
        <h1 id="ParqueMônica">Parque da Mônica</h1>
        <img class="Parque da Mônica" src="~/Image/parquedamonica.jpg">
        <h1 id="Ibirapuera">Parque do Ibirapuera</h1>
        <img class="ParqueIBI" src="~/Image/parque_ibirapuera (1).jpg">
        <h1 id="aquario">Aquário de São Paulo</h1>
        <img class="AquárioSP" src="~/Image/aquario-sp (1).jpg">
        <h1 id="ZOO">Zoológico de São Paulo</h1>
        <img class="ZOOSP" src="~/Image/zoologico-sp (1).jpg">
        <h1 id="Beco">Beco do Batman</h1>
        <img class="BecoBatman" src="~/Image/beco-do-batman (1).jpg">




    
</div>

