<style>
    h1 {
        line-height: 100px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    div.lazer {
        display: inline-block;
        padding: 100px;
    }

</style>
<div class="Imagens">

    <div class="lazer">
        <h1 id="ParqueVL">Parque Villa-Lobos</h1>
    <a class="Parque Villa Lobos" href="~/PontoTuristicoes/Details/40"><img src="~/Image/40_.jpg" alt="Parque Villa-Lobos"></a>
    </div>
    <div class="lazer">
        <h1 id="ParqueMônica">Parque da Mônica</h1>
        <a class="Parque da Mônica" href="~/PontoTuristicoes/Details/34"><img src="~/Image/34_.jpg" alt="Parque da Mônica"></a>
    </div>
        <div class="lazer">
        <h1 id="Ibirapuera">Parque do Ibirapuera</h1>
        <a class="ParqueIBI" href="~/PontoTuristicoes/Details/38"><img src="~/Image/38_.jpg" alt="Parque do Ibirapuera"></a>
    </div>
            <div class="lazer">
        <h1 id="aquario">Aquário de São Paulo</h1>
        <a class="AquárioSP" href="~/PontoTuristicoes/Details/35"><img src="~/Image/35_.jpg" alt="Aquário de São Paulo"></a>
    </div>
                <div class="lazer">
        <h1 id="ZOO">Zoológico de São Paulo</h1>
        <a class="ZOOSP" href="~/PontoTuristicoes/Details/33"><img src="~/Image/33_.jpg" alt="Zoológico de São Paulo"></a>
    </div>
                    <div class="lazer">
        <h1 id="Beco">Beco do Batman</h1>
        <a class="BecoBatman" href="~/PontoTuristicoes/Details/39"><img src="~/Image/39_.jpg" alt="Beco do Batman"></a>
    </div>



    
</div>

