<style>
    h1 {
        line-height: 100px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
</style>
<div class="Cultura">

   
        <h1 id="Catavento">Museu Catavento</h1>
        <img class="MuseuCatavento" src="~/Image/catavento (1).jpg">
        <h1 id="edificiocopam">Edifício Copan</h1>
        <img class="EdCopan" src="~/Image/edificiocopan (1).jpg">
        <h1 id="masp">Masp (Museu de São Paulo)</h1>
        <img class="MASPSP" src="~/Image/MaspSP.png">
        <h1 id="museuzoo">Museu de Zoologia</h1>
        <img class="MuseuZoologia" src="~/Image/museu_zoologia (1).jpg">
        <h1 id="afro">Museu Afro</h1>
        <img class="MuseuAfro" src="~/Image/museuafro (1).jpg">
        <h1 id="museufut">Museu do Futebol</h1>
        <img class="FUTMuseu" src="~/Image/Museufut.png">
        <h1 id="pinacoteca">Pinacoteca</h1>
        <img class="Pinacoteca" src="~/Image/pinacoteca (1).jpg">




    
</div>