<style>
    h1 {
        line-height: 100px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    div.test{
        display:inline-block;
        padding: 100px;
    }

    div.test1 {
        display: inline-block;
        padding: 100px;
    }

    div.test3 {
        display: inline-block;
        padding: 100px;
    }

    div.test4  {
        display: inline-block;
        padding: 100px;
    }
</style>
<div class="Cultura">

    <div class="test">
        <h1 id="Catavento">Museu Catavento</h1>
    <a class="MuseuCatavento" href="~/PontoTuristicoes/Details/30"><img src="~/Image/30_.jpg" alt="Museu Catavento"></a>
    </div>

    <div class="test">
        <h1 id="edificiocopam">Edifício Copan</h1>
     <a class="EdCopan" href="~/PontoTuristicoes/Details/29"><img src="~/Image/29_.jpg" alt="Edifício Copan"></a>
    </div>

    <div class="test">
        <h1 id="museuzoo">Museu de Zoologia</h1>
    <a class="MuseuZoologia" href="~/PontoTuristicoes/Details/37"><img src="~/Image/37_.jpg" alt="Museu de Zoologia"></a>
    </div>

    <div class="test">
        <h1 id="afro">Museu Afro</h1>
    <a class="MuseuAfro" href="~/PontoTuristicoes/Details/36"><img src="~/Image/36_.jpg" alt="Museu Afro"></a>
    </div>

    <div class="test">
        <h1 id="museufut">Museu do Futebol</h1>
     <a class="FUTMuseu" href="~/PontoTuristicoes/Details/2"><img src="~/Image/2_.png" alt="Museu do Futebol"></a>
    </div>

    <div class="test">
        <h1 id="pinacoteca">Pinacoteca</h1>
       <a class="Pinacoteca" href="~/PontoTuristicoes/Details/32"><img src="~/Image/32_.jpg" alt="Pinacoteca"></a>
</div>

    <div class="test">
        <h1 id="masp">Masp (Museu de São Paulo)</h1>
        <a class="MASPSP" href="~/PontoTuristicoes/Details/1"><img src="~/Image/1_.png" alt="Masp (Museu de São Paulo)"></a>
    </div>
    </div>