<style>
    h1 {
        line-height: 100px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
</style>
    <div class="Esportes">
    <h1 id="Allianz">Allianz Parque</h1>
 
        <img class="Barra Funda" src="~/Image/allianz (1).jpg">
        <h1 id="Neo Quimica">Neo Quimica Arena</h1>
        <img class="Neo Quimica Arena" src="~/Image/neoquimica (1).jpg">
        <h1 id="Centro Olímpico">Centro Olímpico Marechal Ary Pires</h1>
        <img class="COMAP" src="~/Image/centro-olimpico (1).jpg">
        <h1 id="Museu do Futebol">Pacaembu - Museu do Futebol</h1>
        <img class="Museu do fut" src="~/Image/Museufut.png">

  
</div>