<style>
    h1 {
        line-height: 100px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    div.espo {
        display: inline-block;
        padding: 100px;
    }

</style>
    <div class="Esportes">

    <div class="espo">
          <h1 id="Allianz">Allianz Parque</h1>
     <a class="Barra Funda" href="~/PontoTuristicoes/Details/27"><img src="~/Image/27_.jpg" alt="Allianz Parque"></a>
     </div>
    <div class="espo">
        <h1 id="Neo Quimica">Neo Quimica Arena</h1>
     <a class="Neo Quimica Arena" href="~/PontoTuristicoes/Details/26"><img src="~/Image/26_.jpg" alt="Neo Quimica Arena"></a>
     </div>
    <div class="espo">
        <h1 id="Centro Olímpico" >Centro Olímpico M.A.P</h1>
    <a class="COMAP" href="~/PontoTuristicoes/Details/28"><img src="~/Image/28_.jpg" alt="Centro Olímpico Marechal Ary Pires"></a>
    </div>
    <div class="espo">
        <h1 id="Museu do Futebol">Museu do Futebol</h1>
        <a class="Museu do fut" href="~/PontoTuristicoes/Details/2"><img src="~/Image/2_.png" alt="Pacaembu - Museu do Futebol"></a>
        </div>
  
</div>